<div data-hook="shipping_fieldset_wrapper">
  <%= hidden_field :order, :use_billing, :value => 'true' %>
  <fieldset id="shipping" data-hook>
    <%= form.fields_for :ship_address do |ship_form| %>
		  <div class="row">
			  <div class="span7">
          <legend><%= t(:shipping_address) %></legend>
			  </div>
		  </div>
      <div class="inner" data-hook="shipping_inner">
        <div class="row">
		      <div class="span3">
			        <p class="field" id="sfirstname">
			          <%= ship_form.label :firstname, t(:first_name) %> <br />
			          <%= ship_form.text_field :firstname, :class => 'required' %>
			        </p>
			    </div>
		      <div class="span4">
		        <p class="field" id="slastname">
		          <%= ship_form.label :lastname, t(:last_name) %> <br />
		          <%= ship_form.text_field :lastname, :class => 'required' %>
		        </p>
		      </div>
	      </div>
        <div class="row">
          <div class="span3">
            <p class="field" id="scountry">
              <%= ship_form.label :country_id, t(:country) %> <br />
			        <span id="scountry">
		            <%= ship_form.collection_select :country_id, available_countries, :id, :name, {}, {:class => 'required'} %>
		          </span>
            </p>
          </div>
          <div class="span4">
            <p class="field" id="sstate">
              <% have_states = !@order.ship_address.country.states.empty? %>
              <%= ship_form.label :state, t(:state) %> <br />
              <% state_elements = [
		              ship_form.collection_select(:state_id, @order.ship_address.country.states,
		                                          :id, :name,
		                                          {:include_blank => true},
		                                          {:class => have_states ? 'required' : 'hidden',
		                                           :disabled => !have_states}) +
				              ship_form.text_field(:state_name,
				                                   :class => !have_states ? 'required' : 'hidden',
				                                   :disabled => have_states)
              ].join.gsub('"', "'").gsub("\n", "")
              %>
              <%= javascript_tag do -%>
                document.write("<%== state_elements %>");
              <% end %>
            </p>
            <noscript>
              <%= ship_form.text_field :state_name, :class => 'required' %>
            </noscript>
          </div>
        </div>
        <div class="row">
          <div class="span3">
            <p class="field" id="scity">
              <%= ship_form.label :city, t(:city) %> <br />
              <%= ship_form.text_field :city, :class => 'required' %>
            </p>
          </div>
          <div class="span4">
            <p class="field" id="saddress1">
              <%= ship_form.label :address1, t(:street_address) %> <br />
              <%= ship_form.text_field :address1, :class => 'required' %>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="span3">
            <p class="field" id="sphone">
              <%= ship_form.label :phone, t(:phone) %> <br />
              <%= ship_form.phone_field :phone, :class => 'required' %>
            </p>
          </div>
          <div class="span4">
            <p class="field">
	            <br/>
              Все поля обязательны
	          </p>
          </div>
        </div>
        <p class="field" id="szipcode" style="display:none">
          <%= ship_form.label :zipcode, t(:zip) %><span class="required">*</span><br />
          <%= ship_form.text_field :zipcode, :class => 'required' %>
        </p>
      </div>
    <% end %>
  </fieldset>
</div>
<div class="rows" data-hook="billing_fieldset_wrapper" style="display:none">
<fieldset id="billing" data-hook>
  <%= form.fields_for :bill_address do |bill_form| %>
    <legend><%= t(:billing_address) %></legend>
    <div class="inner" data-hook="billing_inner">
      <p class="field" id="bfirstname">
        <%= bill_form.label :firstname, t(:first_name) %><span class="required">*</span><br />
        <%= bill_form.text_field :firstname, :class => 'required' %>
      </p>
      <p class="field" id="blastname">
        <%= bill_form.label :lastname, t(:last_name) %><span class="required">*</span><br />
        <%= bill_form.text_field :lastname, :class => 'required' %>
      </p>
      <% if Spree::Config[:company] %>
        <p class="field" id="bcompany">
          <%= bill_form.label :company, t(:company) %><br />
          <%= bill_form.text_field :company %>
        </p>
      <% end %>
      <p class="field" id="baddress1">
        <%= bill_form.label :address1, t(:street_address) %><span class="required">*</span><br />
        <%= bill_form.text_field :address1, :class => 'required' %>
      </p>
      <p class="field" id="baddress2">
        <%= bill_form.label :address2, t(:street_address_2) %><br />
        <%= bill_form.text_field :address2 %>
      </p>

      <p class="field" id="bcity">
        <%= bill_form.label :city, t(:city) %><span class="required">*</span><br />
        <%= bill_form.text_field :city, :class => 'required' %>
      </p>

      <p class="field" id="bcountry">
        <%= bill_form.label :country_id, t(:country) %><span class="required">*</span><br />
        <span id="bcountry">
          <%= bill_form.collection_select :country_id, available_countries, :id, :name, {}, {:class => 'required'} %>
        </span>
      </p>

      <% if Spree::Config[:address_requires_state] %>
        <p class="field" id="bstate">
          <% have_states = !@order.bill_address.country.states.empty? %>
          <%= bill_form.label :state, t(:state) %><span class="required">*</span><br />
          <% state_elements = [
             bill_form.collection_select(:state_id, @order.bill_address.country.states,
                                :id, :name,
                                {:include_blank => true},
                                {:class => have_states ? 'required' : 'hidden',
                                :disabled => !have_states}) +
             bill_form.text_field(:state_name,
                                :class => !have_states ? 'required' : 'hidden',
                                :disabled => have_states)
             ].join.gsub('"', "'").gsub("\n", "")
          %>
          <%= javascript_tag do -%>
            document.write("<%== state_elements %>");
          <% end -%>
        </p>
          <noscript>
            <%= bill_form.text_field :state_name, :class => 'required' %>
          </noscript>
      <% end %>

      <p class="field" id="bzipcode">
        <%= bill_form.label :zipcode, t(:zip) %><span class="required">*</span><br />
        <%= bill_form.text_field :zipcode, :class => 'required' %>
      </p>
      <p class="field" id="bphone">
        <%= bill_form.label :phone, t(:phone) %><span class="required">*</span><br />
        <%= bill_form.phone_field :phone, :class => 'required' %>
      </p>
      <% if Spree::Config[:alternative_billing_phone] %>
        <p class="field" id="baltphone">
          <%= bill_form.label :alternative_phone, t(:alternative_phone) %><br />
          <%= bill_form.phone_field :alternative_phone %>
        </p>
      <% end %>
    </div>
  <% end %>
</fieldset>
</div>

<%= link_to 'Перейти к оплате', '#', :class => 'btn btn-primary' %>
<%= javascript_tag do -%>
	$('a.btn-primary').click(function(){
	  $('#shipping input').each(function() {
			var id = $(this).attr('id').replace('ship', 'bill');
			if (id.indexOf('id') == -1) {
        $('#' + id).val($(this).val());
			}
		});
		$(this).closest('form').submit();
		return false;
	});
<% end %>
