<div data-hook="shipping_fieldset_wrapper">
  <%= hidden_field :order, :use_billing, :value => 'true' %>
  <fieldset id="shipping" data-hook>
    <%= form.fields_for :ship_address do |ship_form| %>
		  <div class="row row-header">
			  <div class="span7">
          <legend><%= t(:shipping_address) %></legend>
			  </div>
		  </div>
      <div class="inner" data-hook="shipping_inner">
        <div class="row">
		      <div class="span3 field_wrapper">
			        <p class="field" id="sfirstname">
			          <%= ship_form.label :firstname, t(:first_name) %> <br />
			          <%= ship_form.text_field :firstname, :class => 'required', :title => t('required.field') %>
			        </p>
			    </div>
		      <div class="span4 field_wrapper">
		        <p class="field" id="slastname">
		          <%= ship_form.label :lastname, t(:last_name) %> <br />
		          <%= ship_form.text_field :lastname, :class => 'required', :title => t('required.field') %>
		        </p>
		      </div>
	      </div>
        <div class="row">
	        <div class="span3 field_wrapper">
	          <% if Spree::Config[:address_requires_state] %>
	            <p class="field" id="sstate">
	              <%= ship_form.label :state, t(:state) %><br />
	              <%= ship_form.text_field :state_name, :class => 'required', :title => t('required.field') %>
	            </p>
	          <% end %>
	        </div>
	        <div class="span4 field_wrapper">
	          <p class="field" id="scity">
	            <%= ship_form.label :city, t(:city) %> <br />
	            <%= ship_form.text_field :city, :class => 'required', :title => t('required.field') %>
	          </p>
	        </div>
	      </div>
        <div class="row">
          <div class="span3 field_wrapper">
            <p class="field" id="saddress1">
              <%= ship_form.label :address1, t(:street_address) %> <br />
              <%= ship_form.text_field :address1, :class => 'required', :title => t('required.field') %>
            </p>
          </div>
          <div class="span4 field_wrapper">
            <p class="field" id="sphone">
              <%= ship_form.label :phone, t(:phone) %> <br />
              <%= ship_form.phone_field :phone, :class => 'required', :title => t('required.field') %>
            </p>
          </div>
        </div>
        <p class="field" id="hidden_fields" style="display:none">
          <%= ship_form.label :zipcode, t(:zip) %>
          <%= ship_form.text_field :zipcode %>
          <%= ship_form.label :country_id, t(:country) %>
          <%= ship_form.collection_select :country_id, available_countries, :id, :name, {}, {} %>
        </p>
      </div>
    <% end %>
  </fieldset>
</div>
<div class="rows" data-hook="billing_fieldset_wrapper" style="display:none">
  <%= form.fields_for :bill_address do |bill_form| %>
    <%= bill_form.hidden_field :firstname %>
		<%= bill_form.hidden_field :lastname %>
		<%= bill_form.hidden_field :address1 %>
    <%= bill_form.hidden_field :city %>
    <%= bill_form.collection_select :country_id, available_countries, :id, :name, {}, {} %>
    <% if Spree::Config[:address_requires_state] %>
      <%= bill_form.hidden_field :state_name %>
    <% end %>
    <%= bill_form.hidden_field :zipcode %>
    <%= bill_form.hidden_field :phone %>
  <% end %>
</div>

<%= link_to 'Перейти к оплате', '#', :class => 'btn btn-primary' %>
<%= javascript_tag do -%>
	$('a.btn-primary').click(function(){
	  $('#shipping input').each(function() {
			var id = $(this).attr('id').replace('ship', 'bill');
			if (id.indexOf('id') == -1) {
        $('#' + id).val($(this).val());
			}
		});
		$(this).closest('form').submit();
		return false;
	});
<% end %>
