<div class="box">
  <div class="row row-header"><div class="span12"><div class="paddings">
    <h1><%= customizer.title %></h1>
  </div></div></div>
  <div class="row">
    <div class="span5">
      <div class="image">
        <%= image_tag customizer.shopfront(:customizer_full) %>
      </div>
    </div>
    <div class="span7">
      <div class="form">

				<%= form_tag (customizer_path(customizer.id)) do %>
				  <% for param in customizer.customization_params.sort_by {|param| param.order} do %>
				    <div class="param">
				      <%= label_tag(param.name.to_sym, param.title) %>

				      <% if param.type == 'string' %>
				        <%= text_field_tag (param.name.to_sym) %>
				      <% end %>

				      <% if param.type.is_json? %>
				        <% t = JSON.parse(param.type) %>
				        <% if t.kind_of?(Array) %>
				          <%= select_tag(param.name.to_sym, options_for_select(t)) %>
				        <% end %>
				      <% end %>
				      <div class="hint"><%= param.hint %></div>
				    </div>
				  <% end %>
				  <%= link_to submit_title, '#', :class => 'btn btn-primary' %>
				  <%= javascript_tag do -%>
				    $('a.btn-primary').click(function(){
				    $(this).closest('form').submit();
				    return false;
				    });
				  <% end %>
				<% end %>
      </div>
    </div>
  </div>
</div>

