<div class="customizer">
	<div class="pre-h1">
		<%= link_to I18n.t("breadcrumbs.customizers.index"), "/create" %> &rarr;
	  <%= I18n.t("breadcrumbs.customizers.customizer") %>
	</div>
	<h1><%= @customizer.title %></h1>
	<div class="box">
		<div class="row">
		  <div class="span5">
			  <div class="image">
		      <%= image_tag @customizer.shopfront(:customizer_full) %>
			  </div>
		  </div>
		  <div class="span7">
		    <div class="form">
				  <%= form_tag do %>
				    <% for param in @customizer.customization_params.sort_by {|param| param.order} do %>
							<div class="param">
					      <%= label_tag(param.name.to_sym, param.title) %>

								<% if param.type == 'string' %>
									<%= text_field_tag (param.name.to_sym) %>
					      <% end %>

								<% if param.type.is_json? %>
									<% t = JSON.parse(param.type) %>
									<% if t.kind_of?(Array) %>
								    <%= select_tag(param.name.to_sym, options_for_select(t)) %>
									<% end %>
								<% end %>
					      <div class="hint"><%= param.hint %></div>
							</div>
				    <% end %>
				    <%= link_to 'Готово', '#', :class => 'btn btn-primary' %>
				    <%= javascript_tag do -%>
			        $('a.btn-primary').click(function(){
			          $(this).closest('form').submit();
			          return false;
			        });
				    <% end %>
					<% end %>
		    </div>
			</div>
		</div>
	</div>


</div>