<ul class="nav block">
	<% order = current_order() %>
	<% if order %>
		<% if order.paid? or order.completed? %>
      <li><%= link_to "t(:last_order)", order %></li>
		<% else %>
			<% unless order.line_items.count == 0 %>
	      <li><%= link_to "#{t(:cart)} (#{order.line_items.count})", "/cart" %></li>
			<% end %>
		<% end %>
	<% end %>
  <li><a href="/delivery">Доставка</a></li>
  <li><a href="/about_service">О сервисе</a></li>
  <!--<li><a href="#">Материалы</a></li>-->

  <!--<% if user_signed_in? %>-->
      <!--<li>-->
        <!--<%= link_to('Выйти', destroy_user_session_path, :method=>'delete') %>-->
      <!--</li>-->
  <!--<% else %>-->
      <!--<li>-->
        <!--<%= link_to('Войти', new_user_session_path)  %>-->
      <!--</li>-->
  <!--<% end %>-->
  <!--<% if user_signed_in? %>-->
      <!--<li>-->
        <!--<%= link_to('Профиль', edit_user_registration_path) %>-->
      <!--</li>-->
  <!--<% else %>-->
      <!--<li>-->
        <!--<%= link_to('Регистрация', new_user_registration_path)  %>-->
      <!--</li>-->
  <!--<% end %>-->
</ul>
